html, body, div, span, p, a, img, ul, li, form, label, table, tr, th, td {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

div,form{
    display: block;
}

ul,li{
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font: 12px/1.2 apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",SimSun,sans-serif;
    color: #666;
}

button{
    text-transform: none;
    line-height: normal;
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    text-align: center;
}

.p-login .header {
    height: 78px;
    border-bottom: 1px solid #DBDBDB;
}

.p-login .wrap {
    margin: 0 auto;
    padding: 0 9px 30px;
    width: 962px;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
}

.p-login .header .logo, .p-login .body .login-area .tang-pass-login .pass-form-item label.pass-label-userName,
.p-login .body .login-area .tang-pass-login .pass-form-item .pass-clearbtn,
.p-login .body .login-area .tang-pass-login .pass-form-item label.pass-label-password,
.p-login .body .login-area .tang-pass-login .pass-form-item .pass-clearbtn,
.p-login .body .login-area .tang-pass-login .pass-form-item label.pass-label-smsPhone{
    background-image: url(https://seasonal-1300148510.cos.ap-shanghai.myqcloud.com/img/index/s_03.png);
}

/*.p-login .header .logo {*/
/*    background-position: -286px -23px;*/
/*}*/

.p-login .header .logo {
    float: left;
    margin-top: 20px;
    width: 118px;
    height: 47px;
}

.p-login .header .logo a {
    display: block;
    width: 100%;
    height: 100%;
}

.p-login .header .login-text {
    float: left;
    margin-left: 20px;
    margin-top: 38px;
    padding: 0 14px;
    height: 24px;
    line-height: 24px;
    color: #666;
    font-size: 18px;
    border-left: 1px solid #C9C9C9;
}

.p-login .header .reg-area {
    float: right;
    margin-top: 27px;
    height: 32px;
    color: #666;
    line-height: 32px;
}

.p-login .header .reg-area .reg-btn {
    display: inline-block;
    margin-left: 5px;
    width: 62px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #666;
    font-weight: 700;
    border: 1px solid #DDD;
    border-radius: 3px;
}

.clearfix:after {
    clear: both;
}

.p-login .body .login-logo {
    float: left;
    margin-top: 49px;
    width: 623px;
    height: 337px;
    background: url(../../img/login/login-logo.png) no-repeat;
}

.p-login .body .login-area {
    float: right;
    position: relative;
    margin-top: 49px;
    padding: 20px 14px;
    width: 279px;
    min-height: 247px;
    border: 1px solid #eee;
    background: #fff;
}

.p-login .body .login-area .title {
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    font-weight: 700;
    color: #666;
}

.tang-pass-login {
    position: relative;
}

.p-login .body .login-area .tang-pass-login .pass-generalErrorWrapper {
    margin-bottom: 0;
    color: #F69;
    height: auto;
    min-height: 24px;
}

.p-login .body .login-area .tang-pass-login .pass-generalErrorWrapper .pass-generalError {
    padding: 0;
    line-height: 28px;
    display: block;
    font-size: 12px;
}

.tang-pass-login p.pass-smsSwitchWrapper {
    text-align: right;
    margin: 0 0 10px;
}

.tang-pass-login a, .tang-pass-login label, .tang-pass-login p,
.tang-pass-login li, .tang-pass-login input {
    font-size: 12px;
    list-style: none;
}

.tang-pass-login .pass-smsSwitchWrapper .pass-sms-btn {
    background: url(../../img/login/smsSwitchPhone.png) no-repeat;
    background-position: 0 0;
    padding-left: 15px;
    color: #666;
    cursor: pointer;
}

.tang-pass-login .pass-form-item {
    position: relative;
    clear: both;
    margin-bottom: 15px;
}

.p-login .body .login-area .tang-pass-login .pass-form-item label.pass-label-userName {
    background-position: -366px -97px;
    top: 13px;
    left: 10px;
    background-repeat: no-repeat;
}

.tang-pass-login label.pass-label-userName, .tang-pass-login label.pass-label-password,
.tang-pass-login label.pass-label-smsPhone {
    display: block;
    position: absolute;
    top: 6px;
    left: 0;
    width: 0;
    height: 18px;
    overflow: hidden;
    padding: 0 0 0 18px;
    background: url(../../img/login/input_icons_16.png) no-repeat;
}

.p-login .body .login-area .tang-pass-login .pass-form-item input.pass-text-input {
    margin: 0;
    padding: 11px 20px 11px 35px;
    width: 222px;
    height: 16px;
    line-height: 16px;
    color: #999;
    border: 1px solid #F0F0F0;
    background-color: #fff;
    outline: 0;
}

.p-login .body .login-area .tang-pass-login .pass-form-item label.pass-label-password {
    background-position: -366px -135px;
    top: 10px;
    left: 10px;
    background-repeat: no-repeat;
}

.tang-pass-login .pass-form-item-memberPass input {
    vertical-align: middle;
}

.p-login .body .login-area .tang-pass-login .pass-form-item-memberPass {
    margin-bottom: 39px;
}

.p-login .body .login-area .tang-pass-login .pass-form-item-memberPass .pass-fgtpwd {
    color: #73ADC9;
    position: absolute;
    right: 0;
}

.p-login .body .login-area .tang-pass-login .pass-form-item-submit .pass-button-submit {
    width: 279px;
    height: 39px;
    font-family: "Microsoft Yahei";
    border-bottom: 1px solid #FD528B!important;
    background: #F69;
}

.tang-pass-login .pass-form-item-submit .pass-button-submit {
    font-size: 14px;
    font-weight: 700;
    border: 0;
    color: #fff;
    cursor: pointer;
}
.tang-pass-login .pass-form-item-submit input {
    background: #3f89ec;
    border-radius: 3px;
}

#pass-phoenix-btn{
    margin-top: 14px;
}

#pass-phoenix-btn .bd-acc-list{
    float: left;
    list-style: none;
}

#pass-phoenix-btn .bd-acc-list li{
    width: 46px;
    float: left;
}

#pass-phoenix-btn .bd-acc-list .bd-acc-qzone a{
    background-position: -88px 0;
}

#pass-phoenix-btn .bd-acc-list .bd-acc-tsina a{
    background-position: -64px 0;
}

#pass-phoenix-btn .bd-acc-list li a{
    padding-left: 24px;
    height: 24px;
}

#pass-phoenix-btn .bd-acc-list li a{
    display: block;
    cursor: pointer;
    list-style: none;
    background: url(../../img/login/pass_login_icons.png) no-repeat;
    width: 0;
    overflow: hidden;
}

.p-login .body .login-area .tang-pass-login .pass-form-item-verifyCode {
    height: 40px;
}

.tang-pass-login .pass-label {
    font-size: 12px;
    color: #666;
    padding-bottom: 10px;
    display: none;
}

.p-login .body .login-area .tang-pass-login .pass-form-item-verifyCode input.pass-text-input-verifyCode {
    padding-left: 10px;
    width: 110px;
    float: left;
}

.p-login .body .login-area .tang-pass-login .pass-form-item .pass-clearbtn {
    background-position: -372px -227px;
}

.p-login .body .login-area .tang-pass-login .pass-form-item-verifyCode .pass-verifyCode {
    margin-left: 10px;
    width: 76px;
    height: 38px;
}

.tang-pass-login .pass-verifyCode {
    background: url(../../img/login/loading_16.gif) no-repeat center center;
    border: 1px solid #DDD;
    float: left;
}

.tang-pass-login .pass-change-verifyCode {
    padding-left: 5px;
    line-height: 26px;
    float: left;
    cursor: pointer;
    line-height: 40px;
}

.tang-pass-sms p.pass-form-item-smsVerifyCode:after, .tang-pass-login p.pass-form-item-verifyCode:after {
    line-height: 20px;
    content: '\20';
    display: block;
    height: 0;
    clear: both;
}

.w-footer-mini {
    border-top: 5px solid #DBDBDB;
    padding: 40px 0 20px;
}

.w-footer-mini .wrap {
    width: 980px;
    margin: 0 auto;
}

.w-footer-mini .links {
    text-align: center;
}

.w-footer-mini .links .link {
    color: #666;
}

.w-footer-mini .links span {
    margin: 0 12px;
    color: #ccc;
}

.site-info {
    text-align: center;
    margin-top: 27px;
    line-height: 40px;
    font-family: SimSun;
    color: #999;
}

.w-footer-mini .site-info .link {
    color: #999;
}

.w-footer-mini .links .tel {
    color: #FD678C;
    margin: 0;
}





.p-login .body .login-area .tang-pass-sms .tang-pass-sms-title,
.p-login .body .login-area .tang-pass-sms .tang-pass-sms-tip {
    display: none;
}

.tang-pass-sms .tang-pass-sms-title {
    height: 30px;
    line-height: 30px;
    color: #666;
    font-weight: 700;
}

.tang-pass-sms .tang-pass-sms-title {
    height: 30px;
    line-height: 30px;
    color: #666;
    font-weight: 700;
}

.tang-pass-login a, .tang-pass-login label, .tang-pass-login p, .tang-pass-login li, .tang-pass-login input {
    font-size: 12px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.tang-pass-sms .tang-pass-sms-tip {
    line-height: 18px;
    color: #999;
    font-weight: 400;
}

.p-login .body .login-area .tang-pass-login .pass-form-item label.pass-label-smsPhone {
    background-position: -370px -179px;
}

.p-login .body .login-area .tang-pass-login .pass-form-item label.pass-label-smsPhone {
    top: 10px;
    left: 10px;
    height: 21px;
    background-repeat: no-repeat;
}

.tang-pass-login label.pass-label-smsPhone {
    background-position: 4px -91px;
}

.p-login .body .login-area .tang-pass-login .pass-form-item .pass-clearbtn {
    width: 10px;
    height: 10px;
    top: 16px;
    right: 10px;
    background-repeat: no-repeat;
}

.p-login .body .login-area .tang-pass-sms .pass-form-item-smsVerifyCode {
    height: 40px;
}

.tang-pass-sms p.pass-form-item-smsVerifyCode, .tang-pass-login p.pass-form-item-verifyCode {
    position: relative;
    height: 28px;
    margin-bottom: 15px;
}

.p-login .body .login-area .tang-pass-sms .pass-form-item-smsVerifyCode input.pass-text-input-smsVerifyCode {
    padding-left: 10px;
    width: 127px;
}

.p-login .body .login-area .tang-pass-login .pass-form-item span.pass-clearbtn-smsVerifyCode {
    left: 140px;
}

.p-login .body .login-area .tang-pass-sms .pass-item-timer, .p-login .body .login-area .tang-pass-sms .pass-item-time-timing {
    margin-left: 10px;
    width: 108px;
    height: 38px;
}

.tang-pass-login .pass-item-timer {
    display: block;
    padding: 0;
    float: left;
    font-size: 12px;
    color: #666;
    border: 1px solid #ddd;
    background-color: #f7f7f7;
    cursor: pointer;
}

.tang-pass-sms-agreement {
    display: inline-block;
    margin-top: 10px;
    font-size: 12px;
    color: #969696;
}

.tang-pass-sms .pass-form-item .pass-sms-link-back {
    cursor: pointer;
    display: block;
    text-align: right;
    float: right;
    padding-top: 10px;
}

.tang-pass-login a {
    text-decoration: none;
    color: #1b66c7;
}

.tang-pass-sms .pass-form-item input.pass-text-input-smsVerifyCode {
    width: 90px;
    float: left;
    margin-right: 10px;
}

.tang-pass-login .pass-form-item .pass-clearbtn {
    position: absolute;
    z-index: 20;
    top: 7px;
    right: 6px;
    height: 16px;
    width: 16px;
    background: url(https://passport.baidu.com/passApi/img/pass_login_icons.png) no-repeat 0 0;
    cursor: pointer;
}

#verifyCodeSend-button {
    border-radius: 0;
    border: 1px solid #ddd;
    height: 40px;
    background: #f7f7f7;
    color: #666;
    font-weight: 400;
    width: 110px;
    float: left;
    margin-left: 10px;
    font-size: 14px;
}
