body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt,
dd, ul, ol, li, pre, form, fieldset, legend, button,
input, textarea, th, td {
    margin: 0;
    padding: 0
}

html {
    color: #333;
    background: #fff;
    overflow-y: scroll
}

body, button, input, select, textarea, pre {
    font-size: 12px;
    font-family: Arial;
}

ul, ol {
    list-style: none
}

a {
    text-decoration: underline;
    color: #00c
}

a:hover {
    color: #00c
}

img {
    border: 0
}

button, input, select, textarea {
    font-size: 100%
}


button {
    cursor: pointer
}

.clearfix:after {
    content: '\20';
    display: block;
    height: 0;
    clear: both
}

.clearfix {
    zoom: 1
}

.clear {
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
    visibility: hidden;
    overflow: hidden
}


body {
    background: 0 0;
    font-family: Tahoma, Helvetica, "Microsoft Yahei", Arial, STHeiti
}

#head {
    height: 75px;
    z-index: 100;
}

#head .mod-header {
    display: block;
    width: 330px;
    background: url(../../img/registration/logo.png) right no-repeat
}

#head .mod-header a {
    display: none;
    width: 330px;
    height: 76px
}

#head .mod-header a img {
    margin-top: 15px
}

#head, #content, #foot {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}

#nav {
    background: 0 0
}

#nav .nav-2 {
    height: 20px;
    background: url(../../img/registration/reg_hr.png) no-repeat center top
}

.reg-content {
    float: left
}

.mod-reg {
    position: relative
}

.tang-pass-reg {
    position: relative;
    width: 720px;
    overflow: hidden
}

.tang-pass-reg a {
    text-decoration: none;
    color: #1b66c7
}

.tang-pass-reg a:hover {
    text-decoration: underline
}

.tang-pass-reg .pass-form-item {
    position: relative;
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
    zoom: 1
}

.tang-pass-reg .pass-form-item-password {
    position: relative;
    z-index: 19
}

.tang-pass-reg .pass-form-item:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.tang-pass-reg .pass-text-input {
    display: block;
    position: relative;
    float: left;
    height: 16px;
    width: 328px;
    padding: 11px 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
    color: #666;
    outline: 0;
}

.tang-pass-reg .pass-text-input-verifyCode {
    width: 156px
}

.tang-pass-reg .pass-label {
    display: block;
    float: left;
    height: 42px;
    width: 65px;
    margin-right: 10px;
    line-height: 42px;
    font-size: 14px;
    color: #666;
    font-weight: 700;
    text-align: right
}

.tang-pass-reg .pass-form-item-isAgree {
    margin-left: 75px
}

.tang-pass-reg .pass-form-item-isAgree .pass-checkbox-isAgree {
    vertical-align: middle
}

.tang-pass-reg .pass-form-item-isAgree label {
    color: #666;
    font-size: 12px;
    margin-left: 5px
}

.tang-pass-reg .pass-form-item-submit {
    position: relative;
    left: 75px
}

.tang-pass-reg .pass-form-item:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.tang-pass-reg .pass-button {
    display: block;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    background-image: none;
    border-radius: 3px;
    border: 0;
}

.tang-pass-reg .pass-button-submit {
    float: left;
    width: 350px
}

.tang-pass-reg input.pass-button-verifyCodeSend {
    border-radius: 0;
    border: 1px solid #ddd;
    height: 40px;
    background: #f7f7f7;
    color: #666;
    font-weight: 400;
    width: 160px;
    float: left;
    margin-right: 10px;
    font-size: 14px
}

.mod-reg .login-link, .mod-regnotify .login-link {
    position: absolute;
    top: -70px;
    right: 0;
    color: #666
}

.mod-reg-pink .tang-pass-reg .pass-button-submit {
    background-color: #fa6790;
}

.login-link .login-btn {
    display: inline-block;
    margin-left: 5px;
    width: 62px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #666;
    font-weight: 700;
    border: 1px solid #DDD;
    border-radius: 3px;
}

#isAgreeError {
    margin-left: 76px;
    top: 0;
    float: none;
}

.pass-item-error, #verifyCodeSend-span {
    top: 12px;
    float: left;
    display: none;
    position: relative;
    width: 250px;
    color: #fc4343;
    height: 16px;
    line-height: 14px;
    padding-left: 20px;
    background: url(../../img/registration/err_small.png) 0 0 no-repeat;
}

#verifyCode-span, #verifyCodeError-span, #verifyCodeExpiration-span {
    background: url(../../img/registration/err_small.png) 0 0 no-repeat;
    float: left;
    position: relative;
    width: 250px;
    top: 12px;
    color: #fc4343;
    height: 16px;
    line-height: 14px;
    padding-left: 20px;
}
