<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的购物车</title>
    <link rel="shortcut icon" href="../../img/icon.ico"/>

    <!--    清除样式CSS-->
    <link rel='stylesheet' href='../../css/style.css' type='text/css'/>
    <!--    外部模板样式-->
    <link rel='stylesheet' href='../../css/global.css' type='text/css'/>
    <link rel="stylesheet" href="../css/mycarts.css" type="text/css">
    <link rel="stylesheet" href="../css/windowsCard.css" type="text/css">


</head>
<body>
<!--    顶部所有信息，注意所有class别与顶部信息重叠-->
<div class="header">
    <div class="login_bar">
        <ul>
            <li class="login">
                <img alt="" src="https://seasonal-1300148510.cos.ap-shanghai.myqcloud.com/img/index/login_icon.jpg">
                <span class="login-span" style="display: none">用户ID：</span>
                <a href="../../login/view/login.html" class="already-login" style="display: none"></a>
                <a href="../../login/view/login.html" class="not-login" style="display: inline">请登录</a>
            </li>
            <li class="registration">
                <img alt="" src="https://seasonal-1300148510.cos.ap-shanghai.myqcloud.com/img/index/register_icon.jpg" style="display: inline">
                <a href="../../login/view/registration.html">免费注册</a>
                <a href="#" class="cancellation" style="display: none">退出账号</a>
            </li>
            <li>
                <img alt="" src="https://seasonal-1300148510.cos.ap-shanghai.myqcloud.com/img/index/order_icon.jpg"><a
                    href="#">我的订单</a>
            </li>
        </ul>
    </div>
    <hr>
    <div class="header_main">
        <form class="parent">
            <input type="text" class="search" placeholder="搜索">
            <input type="button" class="search_button">
        </form>
        <a href="../../index.html"><img alt="" src="../../img/s_03.png" id="logo"></a>
        <div class="header_nav">
            <ul>
                <li><a href="../../index.html" name="首 页">HOME</a></li>
                <li><a href="../../activity/view/seckill.html" name="闪购促销">SALES</a>
                </li>
                <li><a href="../../index.html" name="最新活动">ACTIVITY</a>
                </li>
                <li><a href="../../index.html" name="申请试吃">TASTE</a>
                </li>
            </ul>
        </div>
    </div>
    <hr id="header_hr">
</div>
<div id="cart">
    <div id="cart-tit" class="clear">
        <span id="cart-tit-txt">我的购物车</span>
        <ul id="cart-flow" class="clear">
            <li id="c-f-img"></li>
            <li class="c-f-li c-f-li-cur">1.我的购物车</li>
            <li class="c-f-li">2.填写核对订单信息</li>
            <li class="c-f-li">3.成功提交订单</li>
        </ul>
    </div>
    <ul id="cart-th" class="clear">
        <li id="ct-inp">
            <input type="checkbox" name="all">
        </li>
        <li id="ct-all">全选</li>
        <li id="ct-name">商品信息</li>
        <!--<li id="ct-sj">市场价(元)</li>-->
        <li id="ct-dj">单价(元)</li>
        <li id="ct-sl">数量</li>
        <li id="ct-je">金额(元)</li>
        <li id="ct-op">操作</li>
    </ul>
    <ul id="cart-con">
        <!-- 无商品时 -->
        <!--<div id="mc-msg">
            <span>购物车内暂时没有商品，登录后将显示您之前加入的商品</span>
            <a href="#" onclick="">登录</a>
            <a href="#">去购物</a>
        </div>-->

        <!--<li class="cart-con-li">
            <ul class="cart-obj clear">
                <li class="co-inp">
                    <input type="checkbox" name="goods" value="1">
                </li>
                <li class="co-img">
                    <a href="#" target="_blank">
                        <img src="../img/common/goods.jpg" width="100" height="100">
                    </a>
                </li>
                <li class="co-name">
                    <a href="#" title="迷你果盒：高级赏味" class="hover-a" target="_blank">迷你果盒：高级赏味+越南龙眼</a>
                </li>
                &lt;!&ndash;<li class="co-dj">10.00</li>&ndash;&gt;
                <li class="co-dj" id="price-one">10.00</li>
                <li class="co-sl">
                    <span class="co-sl-span">
                        <a href="javascript:;" onclick="minusOne(this);" class="num-changes">-</a>
                        <input type="text" value="1" class="num-inp" onchange="isInteger(this)" maxlength="4">
                        <a href="javascript:;" onclick="plusOne(this);" class="num-changes">+</a>
                    </span>
                    <span class="co-sl-remark" title></span>
                </li>
                <li class="co-je">10.00</li>
                <li class="co-del">
                    <a href="#" onclick="deleteProducts(this)" class="hover-a">删除</a>
                </li>
            </ul>
        </li>
        <li class="cart-con-li">
            <ul class="cart-obj clear">
                <li class="co-inp">
                    <input type="checkbox" name="goods" value="2">
                </li>
                <li class="co-img">
                    <a href="#" target="_blank">
                        <img src="../img/common/goods.jpg" width="100" height="100">
                    </a>
                </li>
                <li class="co-name">
                    <a href="#" title="迷你果盒：高级赏味" class="hover-a" target="_blank">迷你果盒：高级赏味+越南龙眼</a>
                </li>
                <li class="co-dj">10.00</li>
                <li class="co-dj" id="price-two">10.00</li>
                <li class="co-sl">
                    <span class="co-sl-span">
                        <a href="javascript:;" onclick="minusOne(this);" class="num-changes">-</a>
                        <input type="text" value="1" class="num-inp" onchange="isInteger(this)" maxlength="4">
                        <a href="javascript:;" onclick="plusOne(this);" class="num-changes">+</a>
                    </span>
                    <span class="co-sl-remark" title></span>
                </li>
                <li class="co-je">10.00</li>
                <li class="co-del">
                    <a href="#" onclick="deleteProducts(this)" class="hover-a">删除</a>
                </li>
            </ul>
        </li>-->
    </ul>
    <ul id="cart-tf" class="clear">
        <li id="ctf-inp">
            <input type="checkbox" name="all">
        </li>
        <li id="ctf-all">全选</li>
        <li>
            <a href="#" onclick="" class="hover-a">删除</a>
        </li>
        <li class="ctf-r">
            <a href="#" id="ctf-js">结算</a>
        </li>
        <li class="ctf-r" id="total">￥0.00</li>
        <li class="ctf-r" style="padding-left: 75px;">总计(不含运费)</li>
        <li class="ctf-r">
            已选商品
            <span id="count">0</span>
            件
        </li>
    </ul>
    <!--<div style="width: 80%;height: 400px;margin: 50px auto">-->
    <!--<div style="width: 58%;height: 380px;float: left;padding-top: 20px">-->
    <!--<span class="of">订单编号：</span><span class="of_sp">2019091814312601012414</span><br>-->
    <!--<span class="of">用户ID：</span><span class="of_sp">0180925241</span><br>-->
    <!--<span class="of">用户名：</span><span class="of_sp">春野樱</span><br>-->
    <!--<span class="og">商品一：</span><span class="og_sp">三分果盒：超级精选 单价：￥22 数量：3 </span><br>-->
    <!--<span class="og">商品二：</span><span class="og_sp">三分果盒：超级精选 单价：￥22 数量：3 </span><br>-->
    <!--<span class="og">商品三：</span><span class="og_sp">三分果盒：超级精选 单价：￥22 数量：3 </span><br>-->
    <!--<span class="og">总价格：</span><span class="og_sp">￥380 </span><br>-->
    <!--<span class="og">请选择配送方式(配送按每公里1元收取配送费用，自提无费用)：</span><br>-->
    <!--<span class="og"><input id="pick_up" name="allot" type="radio" value="自提"/><label-->
    <!--for="pick_up">自提</label></span>-->
    <!--<span class="og"><input id="delivery" name="allot" type="radio" value="配送"/><label for="delivery">配送</label></span>-->
    <!--<span class="og" id="allot_price">配送费：￥0</span><br>-->
    <!--<span class="og" id="allot_address" style="display: none;">选择配送地址:-->
    <!--<select onchange="allotAddressX(this.options[this.options.selectedIndex].value)" id="allot_address_x">-->
    <!--<option value="江苏省苏州市工业园区创意产业园大圆球">江苏省苏州市工业园区创意产业园大圆球</option>-->
    <!--<option value="吉林省松原市文化康城小区4号楼408室">吉林省松原市文化康城小区4号楼408室</option>-->
    <!--<option value="大连市甘井子区中心商贸">大连市甘井子区中心商贸</option>-->
    <!--<option value="江苏省苏州市世贸中心">江苏省苏州市世贸中心</option>-->
    <!--</select></span><br>-->
    <!--<div><span class="og">收货人姓名：</span><span class="og_sp" id="og_name">小樱</span><span-->
    <!--class="og">收货人联系方式：</span><span class="og_sp" id="og_phone">13812124545</span></div>-->
    <!--<br>-->
    <!--<a href="#" id="og-f">结算</a>-->
    <!--</div>-->
    <!--<div style="width: 400px;height: 400px;border: #0000cc 1px solid;float: right"></div>-->
    <!--<br>-->
    <!--</div>-->
</div>
<div class="footer">
    <img alt="" src="../../img/foot_logo.jpg" style="width: 100%"/>
</div>
</body>
<script type="text/javascript" src="../../jquery/jquery-3.4.1.js"></script>
<script type="text/javascript" src="../js/mycarts.js"></script>
<script type="text/javascript" src="../js/modify_number.js"></script>
<script type="text/javascript" src="../js/order.js"></script>
<script type="text/javascript" src="../js/address.js"></script>
<script src="../../js/global.js"></script>
</html>