
.orders-link-box {
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    width: 230px;
    padding-bottom: 20px;
}

.orders-link-box .link-group {
    font-size: 16px;
    color: #222222;
    margin: 30px 20px 0 30px;

}

.orders-link-box .link-group .title {
    margin: 12px 0;
}

.orders-link-box .link-group .title a {
    font-size: 16px;
    color: #222222;
    font-weight: 500
}

.orders-link-box .link-group .title a:hover {
    color: #FE8C00;
}

.orders-link-box .link-group .link-ul li {
    margin: 15px 0;
}

.orders-link-box .link-group .link-ul li a {
    font-size: 14px;
    color: #666;
}

.orders-link-box .link-group .link-ul .num {
    color: #999999;
    margin-left: 5px;
    position: relative;
    top: 1px;
}

.download-app {
    width: 228px;
    height: 165px;
    margin-top: 10px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
}

.download-app .qrcode-box img {
    width: 95px;
    height: 95px;
    margin: 0 auto;
    display: block;
}

.download-app .qrcode-box p {
    text-align: center;
}

.download-app .app-name {
    font-size: 16px;
    color: #222222;
    font-weight: 500;
}

.download-app .sl {
    font-size: 12px;
    font-weight: 500;
    margin-top: 2px;
}

.download-app .red {
    color: #EC5330;
    margin-right: 5px;
}

.download-app .gary {
    color: #3F3F3F;
}

.botton-nav .title {
    width: auto;
    height: 44px;
    font-size: 16px;
    font-weight: 500;
    color: #222222;
    text-align: left;
    padding-left: 20px;
    padding-top: 6px;
    line-height: 44px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    /* margin-bottom: 6px; */
    /* background-color: #0ECAC7;
    background-image: linear-gradient(-90deg, #0ECAC7 0%, #06C1AE 100%); */
}


.botton-nav .b-n-content .b-n-classification .b-n-sublist .b-n-list-item a {
    display: block;
    width: 80px;
    cursor: pointer;
    color: #666666;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.botton-nav .b-n-content .b-n-classification .b-n-sublist .b-n-list-item a:hover {
    color: #fe8c00;
}


.collections-container {
    margin: 130px auto;
    width: 1190px;
}

.collections-container .collections-box {
    width: 910px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    float: right;
    padding: 20px;
    padding-bottom: 0;
    position: relative;
}

.collections-container .orders-head .orders-ul {
    margin-top: 10px;
}

.collections-container .orders-head .orders-ul li {
    font-size: 20px;
    color: #222;
    line-height: 26px;
    float: left;
    width: 105px;
    text-align: center;
    height: 38px;
    margin-right: 25px;
    cursor: pointer;
}

.collections-container .orders-head .orders-ul li .num {
    color: #999999;
    margin-left: 5px;
}

.collections-container .orders-head .orders-ul .active {
    font-weight: 500;
    border-bottom: 2px solid #ffc300;
}

.collections-container .orders-head .orders-ul .active .num {
    font-weight: 500;
    color: #222222;
}

.collections-container .col-item {
    border-top: 1px solid #E5E5E5;
}

.collections-container .col-item .item-img {
    width: 160px;
    height: 90px;
    float: left;
    background-image: url('//p0.meituan.net/travelcube/214b8411190e874781fe91dd3096236211567.png');
    background-size: cover;
    background-position: 50%;
}

.collections-container .col-item .item-img img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.collections-container .orders-head .orders-ul li .num {
    color: #999999;
    margin-left: 5px;
}

.collections-container .orders-head .orders-ul .active {
    font-weight: 500;
    border-bottom: 2px solid #ffc300;
}

.collections-container .orders-head .orders-ul .active .num {
    font-weight: 500;
    color: #222222;
}

.collections-container .col-item .item-img {
    width: 123.4px;
    height: 123.4px;
    float: left;
    background-image: url('//p0.meituan.net/travelcube/214b8411190e874781fe91dd3096236211567.png');
    background-size: cover;
    background-position: 50%;
}

.collections-container .col-item .item-info {
    float: left;
    padding: 10px 20px;
}

.collections-container .col-item .item-info .poi-name {
    white-space: nowrap;
    line-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    color: #222222;
    font-weight: 500;
}

.collections-container .col-item .item-info .sc {
    color: #666666;
    font-size: 12px;
    padding-left: 10px;
}

.collections-container .col-item .item-info .location {
    color: #666666;
    font-size: 12px;
}

.collections-container .col-item .item-info .rate-stars-ul i {
    font-size: 13px;
}

.collections-container .col-item .item-info .rate-stars {
    width: 90px !important;
}

.collections-container .deal-item .deal-img img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.btn-box {
    float: right;
}

.btn-box .show-deal,.btn-box .delete-collection {
    font-size: 14px;
    color: #666666;
    font-weight: 500;
    border: 1px solid #E5E5E5;
    border-radius: 130px;
    padding: 10px 25px;
    position: relative;
    top: 35px;
}

.btn-box .btn-del {
    width: 24px;
    height: 24px;
    float: right;
    position: relative;
    top: 32px;
    margin-left: 21px;
    cursor: pointer;
}

.btn-box .btn-del .col-iconfont {
    font-size: 24px;
    color: #ccc;
}

.page-box {
    position: absolute;
    bottom: -66px;
    width: 950px;
}

.page-box .mt-pagination {
    text-align: center;
}

.page-box .mt-pagination ul {
    display: inline-block;
}

.botton-nav {
    position: relative;
    top: 40px;
}

.link {

}

.rate-stars {
    width: 84px;
    height: 24px;
    position: relative;
    display: inline-block;
}

.rate-stars-ul {
    list-style: none;
    padding: 0;
    text-align: left;
    margin: 3px 0;
    white-space: nowrap;
}

.rate-stars-dark {
    color: #c3c3c3;
}

.rate-stars-light {
    color: #FF9900;
    position: absolute;
    top: 0px;
    overflow: hidden;
}

.rate-stars-ul > li {
    display: inline-block;
    padding: 0px 2px;
}

.dialog-container {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.80);
    top: 0;
    left: 0;
}

.dialog-container .text {
    text-align: center;
    padding: 25px 0 0 0;
    height: 65px;
    line-height: 34px;
}

.dialog-container .title {
    font-size: 20px;
    color: #222222;
    text-align: center;
    font-weight: 500;
    margin-bottom: 13px;
}

.dialog-container .btn-group {
    text-align: center;
    transform: translateY(45px);
}

.dialog-container .btn-group .btn {
    height: 40px;
    width: 120px;
    border-radius: 100px;
    color: #222222;
    border: 0;
    font-size: 14px;
    color: #222222;
    cursor: pointer;
    font-weight: 500;
}

.dialog-container .btn-group .btn-ok {
    background-image: linear-gradient(135deg, #FFD000 0%, #FFBD00 100%);
    margin-right: 10px;
}

.dialog-container .btn-group .btn-cancel {
    /* opacity: 0.8; */
    background: #F6F7F9;
    margin-left: 10px;
}

.fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;
}

.image {
    border: 0;
}

.image-error {
    display: none;
}

.mt-pagination {
    margin: 0 auto;

}

.mt-pagination .pagination-item {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #E5E5E5;
    border-radius: 50%;
    float: left;
    margin: 0 10px;
    text-align: center;
    font-size: 16px;
    color: #999;
    cursor: pointer;
    user-select: none;
    -webkit-transition: background-color 500ms;
    -ms-transition: background-color 500ms;
    transition: background-color 500ms;
}

.mt-pagination .pagination-item a {
    display: block;
    color: #999;
}

.mt-pagination .num-item:hover, .mt-pagination .next-btn.active:hover, .mt-pagination .prev-btn.active:hover {
    border: 1px solid #E5E5E5;
    background-color: #F6F6F6;
    -webkit-transition: background-color 500ms;
    -ms-transition: background-color 500ms;
    transition: background-color 500ms;
}

.mt-pagination .pagination-item.select {
    background: linear-gradient(to bottom right, #FFD000, #FFBD00);
    border: 1px solid #FFD000;
    cursor: default;
}

.mt-pagination .pagination-item.select a {
    color: #222222;
}

.mt-pagination .ellipsis-btn a:after {
    content: "\2022\2022\2022";
    display: block;
    letter-spacing: 2px;
    color: #ccc;
    font-size: 14px;
}

.container-hide {
    visibility: hidden;
}

.poi-price {
    text-align: center;
    display: block;
    font-size: 16px;
    color: #e51e13;
}

.no-collection-text {
    border-top: 1px solid #E5E5E5;
    padding: 40px 0;
    text-align: center;
    font-size: 14px;
    color: #666;
}

.pageInfo{
    border-top: 1px solid #E5E5E5;
    padding-top: 4px;
    text-align: center;
}