
@font-face {
    font-family: "iconfont";
    src: url('iconfont/iconfont.eot?t=1569547480589'); /* IE9 */
    src: url('iconfont/iconfont.eot?t=1569547480589#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKMAAsAAAAABlQAAAJAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApgcAE2AiQDCAsGAAQgBYRtBzAblgURBZzJPg7jGPJdaXG1hGnx3/Hw39rrfTuzP5MykUIWqiyBJPkKUxv0Pb4sWUfv1qYd7o2KUCzJefBdkp2fQLiQrvM4XaUqZIWsT9w7/SugQOYDynEvGmvSpAHUxQEFONaiyIok8hSGVx3kThwn0M8kC8SOXQdOKDJ7XCBu37h2QSl4ZVlMFKHVsDSL12qlelJ9wqvo+/HfsihU6sQuOXJ152VbfiUnJT1qHjkdEHwEtrpGwgJk4kRj9JAkRHbSL5pNY1+Fwa/UNIFF7NUoxL/Ozh8AJlDRPYk9ya0mKrgtEdI8edRVxIS7A6o3HU+7xqUBH7oed/cfmN53P+scWw30L3nUsebCzv0HimXKgf2PLI2xhd8aG0vZApqu1Ju2CgTz++5U5wZv6Cv9M/jycfscuZuuDLNT9mUL/okYbMiG1DZXWRM3tlcmnKusn35ocM5hfo7VjbyBZChGjrC3mZghKWaQmbUAtf5WoKXYjH7mG8vV/Q3HjiK3Y56NIAzxQWWQbiRDfMnM+qE2yh8tQ+KIfk7F8C37mxVObWdsBQfo3uB6mrVrFRUXntDcx5bz0ohzQ15dANIoKSdKnJHnmLE+TCaiQTNNUJDTcBwJFiaPvURWZMnjWDe9Kepp2inbMdQSaAA6b8DpkZkOOgtV+fwJMu5GLe6oqwvfILZyvYNUJAHIUjVDdffyyurByAihAY2RCSjIIDQaEbA0D/JQT0TsiPAiFzutNKqK1tdMX7cL+rH1VTj9ktZN19qWdjsAAA==') format('woff2'),
    url('iconfont/iconfont.woff?t=1569547480589') format('woff'),
    url('iconfont/iconfont.ttf?t=1569547480589') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */ url('iconfont/iconfont.svg?t=1569547480589#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mask {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .4)
}

.content {
    display: block;
    position: fixed;
    z-index: 5000;
    width: 80%;
    max-width: 660px;
    min-height: 460px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}

.modal-header, .modal-hd {
    height: 32px;
    padding: 14px 20px;
    background-color: #f5f5f5;
}

.modal-header h3, .modal-header .title, .modal-hd h3, .modal-hd .title {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: #333333;
}

.close {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #757575;
    cursor: pointer;
    -webkit-transition: all .2s;
    transition: all .2s;
    z-index: 10;
    border-radius: 15px;
}

@font-face {
    font-family: "iconfont1";
    src: url('iconfont/iconfont.eot?t=1569550989748'); /* IE9 */
    src: url('iconfont/iconfont.eot?t=1569550989748#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKcAAsAAAAABmQAAAJQAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApwcQE2AiQDCAsGAAQgBYRtBzAblwURBazJfh7YjugfdMWtp45TIUtWLDURMiH95+Dhf3/f74P75gyMNGsihESmCQlQlBvjr2CFEpx+/TcBAsZWp+6wEGSA+mDFW77Hc+wkfa5c71E0hAbgAFxNjk5cTn80OZC1Kce1N03qAuqiCRToHtgmK8aGsQtcwmUIwIUIaURhV9mIQWPNEoAYyf2dmJwPjWZJg8BRs1Ej1rAwcl4+B6vh78VP6RmQWAqrrLavqIfcL9JOU2P2GC0+gB8EaLsFKCANaBCNtbFqFILhFC4xTQz2VSzgi7Rt34DYqxbB/jqr0A2AMMi7J74ruNWkBLgtDsJBoug/PC+8v29n4XrMH3u2xi4WA2PvycPVXgj1745fLvgF+9n/0z6n/D1sY+00SSvqPvbHvI74JdXh0hsQIG8eB7R7Zv4zrvN3vbmxHE6xxzRqDDAbswv4KPyeTVoXWnqpVX5tuyT8YBUuuAA22OXj41iV/xWkBAb/ESqn0QmFIS4FNTKNYuFKBsWBIYfiQqqS7a74GkUhtDOQYhpQBI2XD0Xy8IiiePmCGvmjWAL8KQ5eHSkumvM90FVC2RQIWsUA7g3Z80KOUU1UfMJ4n6xkhSH+hrLlINRFVUz2uKDMsWR7xEaVgIRn6MB1OE0Mq/CAXoukurZlSXUfKjzPO6OAQJZCAXDeQOaxBfmdlSl9/wRFdxNLWhpq3DdIbPLooFaoeoC9bOnVcC+3bB6ihlIEEMFmoAPj0GTCwFo/boA8VUgjIqtWabeivrJifcX8dYcAF5ZaZtMpHCdr5d0OAAA=') format('woff2'),
    url('iconfont/iconfont.woff?t=1569550989748') format('woff'),
    url('iconfont/iconfont.ttf?t=1569550989748') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */ url('iconfont/iconfont.svg?t=1569550989748#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont1 {
    font-family: "iconfont1" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.close:hover {
    text-decoration: none;
    background-color: red;
}

.close:hover .iconfont1 {
    color: white;
}

.close .iconfont1 {
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    color: #000000;
}

.modal-body {
    padding: 40px 40px 0 40px;
    height: 280px;
    max-height: none;
}

.form-name {
    margin-right: 14px;
}

.form-section .input-label {
    position: absolute;
    left: 12px;
    top: 11px;
    z-index: 2;
    padding: 0 3px;
    font-size: 14px;
    line-height: 18px;
    color: #b0b0b0;
    background: transparent;
    cursor: text;
    -webkit-transition: all .2s linear;
    transition: all .2s linear
}

.form-section {
    position: relative;
    margin-bottom: 14px;
    padding: 0;
    border: 0;
    text-align: left;
    float: left;
}

.input-label {
    position: absolute;
    left: 12px;
    top: 11px;
    z-index: 2;
    padding: 0 3px;
    font-size: 14px;
    line-height: 18px;
    color: #b0b0b0;
    background: transparent;
    cursor: text;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

.input-text {
    width: 186px;
    height: 18px;
    padding: 10px 16px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    line-height: 18px;
    background: #fff;
    -webkit-transition: border-color .2s linear;
    transition: border-color .2s linear;
}

.input-text::placeholder {
    color: white;
}

.form-name .input-text {
    width: 248px;
}

.form-phone .input-text {
    width: 248px;

}

.form-section-focus .input-text {
    border-color: #ff6700;
}

.form-section-focus .input-label {
    border-color: #ff6700;
}

.form-section-valid .input-label {
    border-color: black;
}

.form-section-active .input-label {
    top: -7px;
    font-size: 12px;
    background: #fff;
    width: auto;
}

.form-section-focus .input-text::placeholder {
    color: #b0b0b0;
    -webkit-transition: color .2s .2s linear;
    transition: color .2s .2s linear
}

.form-section-error textarea.input-text, .form-section-error input.input-text {
    background: url("https://seasonal-1300148510.cos.ap-shanghai.myqcloud.com/img/error/input-err.png") no-repeat 95% 50%
}

.form-section .msg-error {
    visibility: hidden;
    visibility: visible \9;
    display: block \9;
    opacity: 0;
    filter: alpha(opacity=0) \9;
    background-color: #e53935;
    color: #fff;
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
    -webkit-transition: all .2s;
    transition: all .2s;
}

.form-section .msg {
    position: absolute;
    left: 10px;
    top: -26px;
    z-index: 5;
    padding: 6px 12px;
    margin: 0;
    font-size: 12px;
    -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.18);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.18);
}
.container{
    transition: all .2s;
    display: block;
}