td{
    padding: 0px;
}
.main_center_context{
    margin-top: 150px;
    width: 100%;
    height:650px;
    min-width: 1500px;
}
.main_left_function{
    margin-top: 30px;
    float: left;
    width: 250px;
    height: 600px;
    margin-left: 100px;
    background-color: white;
    border: #cccccc solid 1px;

}
.main_right_function{
    margin-top: 30px;
    margin-left: 100px;
    float: left;
    width: 900px;
    height: 600px;
    background-color: white;
    color: #FFF;
    border: #cccccc solid 1px;
}

.user_left_title {
    height: 34px;
    line-height: 34px;
    text-align: center;
    background: #e51e13;
    border-bottom: solid 1px #ddd;
    font-size: 14px;
    color: #fff;
}
#main_left_function li{
    line-height: 34px;
    text-align: center;
    background: white;
    border-bottom: solid 1px #ddd;
    font-size: 14px;


}
/*左侧菜单按钮*/
.button {
    display: block;
    position: relative;
    background: #e51e13;
    color: #fff;
    width: 160px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    margin: 25px auto 0;
    border-radius: 2px;
    overflow: hidden;
    transition: all 0.15s ease-in;
    border-radius: 5px;
}
.button:hover {
    background: #bb3221;
}
a:hover{
    text-decoration: none;
    cursor: pointer;
}
.button:before {
    content: ' ';
    position: absolute;
    background: #fff;
    width: 25px;
    height: 50px;
    top: 0;
    left: -45px;
    opacity: 0.3;
    transition: all 0.25s ease-out;
}
.button:hover:before {
    width: 45px;
    left: 205px;
}
a{
    text-decoration: none;
}
/*用户左侧头像*/
#userbigimg{
    width: 100px;height: 100px;border: #cccccc solid 2px;
    margin: 10px auto;
}
/*订单页*/
.currentmenu1{
    background-color: #e51e13;
    color: #FFF;
    border: black solid 1px;
}
.main_right_function_order_menu{
    margin-left: 50px;
    width: 750px;
    height: 48px;
    list-style: none;
    color:#FFFFFF;
    border-bottom: #cccccc solid ;
}
.main_right_function_order_menu li{
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    float: left;
    font-size: 14px;
    color: #fff;
}
/*选项卡*/
.detailemessage{
    display: none;
}
/*     .main_right_function_order_menu a{
         color: white;
     }*/
.main_right_function_order_menu a{
    text-decoration: none;
}
/*表单样式*/
/* Basic Grey */
.basic-grey {
    margin-left:50px;
    margin-right:auto;
    max-width: 500px;
    /*  background: #F7F7F7;*/
    padding: 25px 15px 25px 10px;
    font: 12px Georgia, "Times New Roman", Times, serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    /*          border:1px solid #E4E4E4;*/
}
.basic-grey h1 {
    font-size: 25px;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom:1px solid #E4E4E4;
    margin: -10px -15px 30px -10px;;
    color: #888;
}
.basic-grey h1>span {
    display: block;
    font-size: 11px;
}
.basic-grey label {
    display: block;
    margin: 0px;
}
.basic-grey label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
}
.basic-grey input[type="text"],.basic-grey p, .basic-grey input[type="email"], .basic-grey textarea, .basic-grey select {
    border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    font-family: auto;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font-size: 12px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
}
.basic-grey p{
    border: none;
    box-shadow: inset 0px 0px 0px ;
    color: #888;
    height: 30px;
    font-family: auto;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 100%;
    font-size: 12px;
    line-height:15px;
    display: inline-block;
}
.basic-grey table {
    width: 100%;
}
.basic-grey textarea{
    padding: 5px 3px 3px 5px;
}
.basic-grey select {
    background: #FFF ;
    appearance:none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
    line-height: 25px;
}
.basic-grey textarea{
    height:100px;
}

.basic-grey .button {
    background: #e51e13;
    margin-top: 0px;
    border: none;
    padding: 1px;
    line-height: 40px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
}
.basic-grey .button:hover {
    background: #CF7A7A
}
/*消息展示的按钮样式*/
.detailemessage .detailmessagecontext .button{
    width: 70px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 16px;
}
/*评价页table中img*/
#nocommenttable  img{
    width: 50px;
    height: 50px;
}
#commenttable img{
    width: 50px;
    height: 50px;
}

