.address-item {
    float: left;
    width: 268px;
    height: 178px;
    margin: 20px 0 0 20px;
    border: 1px solid #e0e0e0;
    font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    color: #333;
    cursor: pointer;
}

.address-item dl {
    padding: 15px 24px 0;
    margin: 0;
}

.address-item dt {
    margin: 0 0 10px;
    line-height: 30px;
}

.address-item .tag {
    float: right;
    color: #b0b0b0;
}

.address-item .uname {
    font-size: 18px;
    color: #333;
    font-style: normal;
}

.address-item dd {
    margin: 0;
    line-height: 22px;
    color: #757575;
}

.address-item .actions {
    position: relative;
    padding-right: 20px;
    padding-top: 5px;
}

.address-item .modify {
    display: none;
    margin-left: 10px;
    color: #ff6700;
    float: right;
}

.address-item:hover a {
    display: block;
    text-decoration: none;
}

.address-title {
    margin: 0;
    font-size: 30px;
    font-weight: 400;
    line-height: 68px;
    color: #757575;
}

.address-item-new {
    text-align: center;
    color: #b0b0b0;
}

.address-item-new .iconfont {
    display: block;
    width: 30px;
    height: 30px;
    margin: 63px auto 8px;
    font-size: 20px;
    line-height: 30px;
    background-color: #e0e0e0;
    border-radius: 17px;
    text-align: center;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    color: #fff;
}

.address-item-new:hover .iconfont {
    background-color: #757575;
}

.select-address-wrapper {
    position: absolute;
    top: 94px;
    left: 40px;
    width: 578px;
    padding-top: 40px;
    border: 1px solid #ff6700;
    background-color: #fff;
    z-index: 3;
}

.select-address-close {
    position: absolute;
    top: 10px;
    right: 6px;
    width: 24px;
    color: #b0b0b0;
    cursor: pointer;
    line-height: 1;
    text-align: center;
}

.four-address-wrapper {
    margin: 0 20px;
}

.four-address-wrapper .select-item {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-right: 5%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    _zoom: 1;
    color: #ff6700;
}

.four-address-wrapper .options-box li {
    float: left;
    margin-right: 14px;
    margin-bottom: 14px;
}

.four-address-wrapper .select-box {
    padding: 6px 0;
    border-bottom: 1px solid #e0e0e0;
}

.four-address-wrapper .options-box ul {
    margin: 0;
    padding: 20px 0;
    list-style: none;
}

.option {
    cursor: pointer;
}

.option:hover {
    color: #ff6700;
    text-decoration: #ff6700 solid;
}

.select-address-wrapper {
    display: none;
}

.form-four-address {
    width: 100%;
}

.form-four-address .input-text {
    width: 546px;
}

.modal-edit-address .modal-body .form-four-address .iconfont {
    position: absolute;
    top: 50%;
    right: 6px;
    height: 24px;
    line-height: 24px;
    margin-top: -12px;
    font-size: 24px;
    color: #b0b0b0;
}

.form-four-address .input-text {
    color: #b0b0b0;
}

.form-address-detail .input-text {
    width: 546px;
}

textarea.input-text {
    height: 3em;
    resize: vertical;
}

.form-zipcode .input-text {
    width: 248px;
}

.form-tag .input-text {
    width: 248px;
}

.form-zipcode {
    margin-right: 14px;
}

.btn-primary {
    background: #ff6700;
    border-color: #ff6700;
    color: #fff;
}

.btn {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    width: 158px;
    height: 38px;
    padding: 0;
    margin: 0;
    border: 1px solid #b0b0b0;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all .4s;
    transition: all .4s;
}

a:hover {
    text-decoration: none;
}

.modal-footer, .modal-ft {
    height: 40px;
    padding: 20px 0;
    border-top: 1px solid #e0e0e0;
    text-align: center;
    background-color: #f5f5f5;
    *zoom: 1;
}

.btn-gray {
    background: #b0b0b0;
    border-color: #b0b0b0;
    color: #fff;
}

.btn-primary:hover {
    background-color: #f25807;
    border-color: #f25807;
    color: #fff
}

.btn-gray:hover {
    background-color: #757575;
    border-color: #757575;
    color: #fff
}

.four-address-wrapper .select-item.active {
    cursor: pointer;
    color: #424242;
}