.address-item {
    float: left;
    width: 268px;
    height: 178px;
    margin: 20px 0 0 20px;
    border: 1px solid #e0e0e0;
    font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    color: #333;
    cursor: pointer;
}

.address-item dl {
    padding: 15px 24px 0;
    margin: 0;
}

.address-item dt {
    margin: 0 0 10px;
    line-height: 30px;
}

.address-item .tag {
    float: right;
    color: #b0b0b0;
}

.address-item .uname {
    font-size: 18px;
    color: #333;
    font-style: normal;
}

.address-item dd {
    margin: 0;
    line-height: 22px;
    color: #757575;
}

.address-item .actions {
    position: relative;
    padding-right: 20px;
    padding-top: 5px;
}

.address-item .modify {
    display: none;
    margin-left: 10px;
    color: #ff6700;
    float: right;
}

.address-item:hover a {
    display: block;
    text-decoration: none;
}

.address-title {
    margin: 0;
    font-size: 30px;
    font-weight: 400;
    line-height: 68px;
    color: #757575;
}

.address-item-new {
    text-align: center;
    color: #b0b0b0;
}

.address-item-new .iconfont {
    display: block;
    width: 30px;
    height: 30px;
    margin: 63px auto 8px;
    font-size: 20px;
    line-height: 30px;
    background-color: #e0e0e0;
    border-radius: 17px;
    text-align: center;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    color: #fff;
}

.address-item-new:hover .iconfont {
    background-color: #757575;
}
