<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>果酷❤订单已完成</title>
    <!--    清除样式CSS-->
    <link rel='stylesheet' href='../../css/style.css' type='text/css'/>
    <!--    外部模板样式-->
    <link rel='stylesheet' href='../../css/global.css' type='text/css'/>
</head>
<body>
<div class="wrap">
    <!--    顶部所有信息，注意所有class别与顶部信息重叠-->
    <div class="header">
        <div class="login_bar">
            <ul>
                <li class="login">
                    <img alt="" src="https://seasonal-1300148510.cos.ap-shanghai.myqcloud.com/img/index/login_icon.jpg">
                    <span class="login-span" style="display: none">用户ID：</span>
                    <a href="../../login/view/login.html" class="already-login" style="display: none"></a>
                    <a href="../../login/view/login.html" class="not-login" style="display: inline">请登录</a>
                </li>
                <li class="registration">
                    <img alt=""
                         src="https://seasonal-1300148510.cos.ap-shanghai.myqcloud.com/img/index/register_icon.jpg"
                         style="display: inline">
                    <a href="../../login/view/registration.html">免费注册</a>
                    <a href="#" class="cancellation" style="display: none">退出账号</a>
                </li>
                <li>
                    <img alt="" src="https://seasonal-1300148510.cos.ap-shanghai.myqcloud.com/img/index/order_icon.jpg"><a
                        href="#">我的订单</a>
                </li>
            </ul>
        </div>
        <hr>
        <div class="header_main">
            <form class="parent">
                <input type="text" class="search" placeholder="搜索">
                <input type="button" class="search_button">
            </form>

            <div class="hd">
                <a class="hd_m" href="../../user/view/personCenter.html">
                    <span id="hd_ms_i"></span>
                    <span id="hd_ms_txt" class="hd_ms_a">我的果酷</span>
                </a>
                <a class="hd_m" href="../../cart/view/myCarts.html">
                    <span id="hd_mc_i"></span>
                    <span id="hd_mc_txt" class="hd_ms_a">我的购物车</span>
                </a>
            </div>

            <a href="../../index.html"><img alt=""
                                            src="https://seasonal-1300148510.cos.ap-shanghai.myqcloud.com/img/index/s_03.png"
                                            id="logo"></a>
            <div class="header_nav">
                <ul>
                    <li><a href="../../index.html" name="首 页">HOME</a></li>
                    <li><a href="../../activity/view/seckill.html" name="闪购促销">SALES</a>
                    </li>
                    <li><a href="../../index.html" name="最新活动">ACTIVITY</a>
                    </li>
                    <li><a href="../../index.html" name="申请试吃">TASTE</a>
                    </li>
                </ul>
            </div>
        </div>
        <hr id="header_hr">
    </div>
    <div style="width: 80%;height: 690px;margin: 0 auto">
        <span style="width: 80%;height: 50px;font-size: 40px;display: inline-block;margin-top: 200px;color:red">该订单已完成支付!</span>
        <span style="width: 80%;height: 50px;font-size: 40px;display: inline-block;margin-top: 20px;color:red">请到个人中心订单管理中查看订单详细信息!</span>
    </div>
    <div class="footer">
        <img alt="" style="width: 100%;"
             src="https://seasonal-1300148510.cos.ap-shanghai.myqcloud.com/img/main/foot_logo.jpg"/>
    </div>
</div>
</body>
<script src="../../jquery/jquery-3.4.1.js"></script>
<script type="text/javascript" src="../../js/login.js"></script>
<script src="../../js/global.js"></script>
</html>