<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <script type="text/javascript" src="../../jquery/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="../js/login.js"></script>
</head>
<body onload="checkCookie()">
<div class="p-login">
    <div class="header">
        <div class="wrap clearfix">
            <div class="logo">
                <a href="//www.nuomi.com"></a>
            </div>
            <div class="login-text">登录</div>
            <div class="reg-area">
                还没有时令果慧帐号
                <a href="registration.html" class="reg-btn">注册</a></div>
        </div>
    </div>
    <div class="body">
        <div class="wrap clearfix">
            <div class="login-logo"></div>
            <div class="login-area" id="j-loginArea">
                <div class="title">登录时令果慧</div>
                <div class="login tang-pass-login" id="j-login" style="display: block; visibility: visible; opacity: 1;">
                    <form id="form" action="/index.html" class="pass-form pass-form-normal" method="get" autocomplete="off">
                        <p id="errorWrapper" class="pass-generalErrorWrapper">
                            <span id="error" class="pass-generalError pass-generalError-error"></span>
                        </p>
                        <p class="pass-smsSwitchWrapper" id="smsSwitchWrapper">
                            <a class="pass-sms-btn" title="短信快捷登录" data-type="sms" id="smsSwitch">短信快捷登录</a>
                        </p>
                        <p id="userNameWrapper" class="pass-form-item pass-form-item-userName">
                            <label id="userNameLabel" class="pass-label pass-label-userName">
                                手机号
                            </label>
                            <input id="userName" type="text" name="userName"
                                   class="pass-text-input pass-text-input-userName" autocomplete="off"
                                   placeholder="手机号">
                            <span id="userName_clearbtn" class="pass-clearbtn pass-clearbtn-userName"
                                  style="display: none; visibility: hidden; opacity: 1;"></span>
                            <span class="pass-item-selectbtn pass-item-selectbtn-userName"
                                  style="display: none; visibility: hidden; opacity: 1;"></span>
                        </p>
                        <p id="passwordWrapper" class="pass-form-item pass-form-item-password">
                            <label id="passwordLabel" class="pass-label pass-label-password">
                                密码
                            </label>
                            <input id="password" type="password" name="password"
                                   class="pass-text-input pass-text-input-password" autocomplete="off" placeholder="密码">
                            <span id="password_clearbtn" class="pass-clearbtn pass-clearbtn-password"
                                  style="display: none; visibility: hidden;"></span>
                            <span id="passwordTip" class="pass-item-tip pass-item-tip-password" style="display:none">
                                <span id="passwordTipText" class="pass-item-tiptext pass-item-tiptext-password"></span>
                            </span>
                        </p>
                        <p id="verifyCodeImgWrapper" class="pass-form-item pass-form-item-verifyCode"
                           style="display: none; visibility: hidden;">
                            <label id="verifyCodeLabel" class="pass-label pass-label-verifyCode">
                                验证码
                            </label>
                            <input id="verifyCode" type="text" name="verifyCode"
                                   class="pass-text-input pass-text-input-verifyCode" maxlength="6" placeholder="验证码">
                            <span id="verifyCode_clearbtn" class="pass-clearbtn pass-clearbtn-verifyCode"
                                  style="display:none;"></span>
                            <span id="verifyCodeImgParent" class="pass-verifyCodeImgParent">
                                <img id="verifyCodeImg" class="pass-verifyCode" src="../../img/login/small_blank.gif">
                            </span>
                            <a id="verifyCodeChange" href="#" class="pass-change-verifyCode">换一张</a>
                            <span id="verifyCodeError" class="pass-error pass-error-verifyCode"></span>
                            <span id="verifyCodeTip" class="pass-tip pass-tip-verifyCode"></span>
                            <span id="verifyCodeSuccess" class="pass-success pass-success-verifyCode"></span>
                        </p>
                        <p id="memberPassWrapper" class="pass-form-item pass-form-item-memberPass">
                            <input id="memberPass" type="checkbox" name="memberPass"
                                   class="pass-checkbox-input pass-checkbox-memberPass" checked="true">
                            <label id="memberPassLabel" class="">下次自动登录</label>
                            <a class="pass-fgtpwd" href="#" target="_blank">
                                登录遇到问题
                            </a>
                        </p>
                        <p id="submitWrapper" class="pass-form-item pass-form-item-submit">
                            <input id="submit" type="submit" value="登录" class="pass-button pass-button-submit">
                        </p>
                    </form>
                </div>
                <div id="sms" class="tang-pass-login tang-pass-sms" style="display: none; visibility: hidden; opacity: 1;">
                    <p class="tang-pass-sms-title">短信登录</p>
                    <p class="tang-pass-sms-tip">验证即登录，未注册将自动创建时令果惠帐号</p>
                    <form id="smsForm" method="POST">
                        <p id="smsErrorWrapper" class="pass-generalErrorWrapper">
                            <span id="smsError" class="pass-generalError"></span>
                        </p>
                        <div id="smsPhoneWrapper" class="pass-form-item pass-form-item-smsPhone">
                            <label id="smsPhoneLabel" class="pass-label pass-label-smsPhone" data-countrycode="">
                                手机号
                            </label>
                            <input id="smsPhone" type="text" name="username" class="pass-text-input pass-text-input-smsPhone" maxlength="11" placeholder="手机号">
                            <span id="smsPhone_clearbtn" class="pass-clearbtn pass-clearbtn-smsPhone" style="display:none;"></span>
                            <span id="smsPhoneTip" class="pass-item-tip pass-item-tip-smsPhone" style="display:none">
                                <span id="smsPhoneTipText"></span>
                            </span>
                        </div>
                        <p id="smsVerifyCodeWrapper" class="pass-form-item pass-form-item-smsVerifyCode">
                            <label id="smsVerifyCodeLabel" class="pass-label pass-label-smsVerifyCode">
                                验证码
                            </label>
                            <input id="smsVerifyCode" type="text" name="password" class="pass-text-input pass-text-input-smsVerifyCode" disabled="disabled" placeholder="验证码">
                            <span id="smsVerifyCode_clearbtn" class="pass-clearbtn pass-clearbtn-smsVerifyCode" style="display:none;"></span>
                            <input id="verifyCodeSend-button" type="button" value="获取短信验证码" class="pass-button pass-button-verifyCodeSend" autocomplete="off">
                        </p>
                        <p id="smsUnReceiveWrapper" class="pass-form-item pass-form-item-unrecevie" style="display: none; visibility: hidden;">
                            <span id="smsUnReceiveTipWrapper" class="pass-sms-unreceive-tips">收不到短信验证码?</span>
                        </p>
                        <p id="smsSubmitWrapper" class="pass-form-item pass-form-item-submit">
                            <input id="smsSubmit" type="submit" value="登录" class="pass-button pass-button-submit">
                            <span class="tang-pass-sms-agreement">
                                阅读并接受
                                <a target="_blank" href="http://passport.baidu.com/static/passpc-account/html/protocal.html">《用户协议》</a>
                            </span>
                            <a id="sms_btn_back" class="pass-sms-link pass-sms-link-back">帐号密码登录</a>
                        </p>
                    </form>
                </div>
                <div class="pass-phoenix-btn clearfix" id="pass-phoenix-btn">
                    <ul class="bd-acc-list">
                        <li class="bd-acc-qzone">
                            <a class="phoenix-btn-item" href="#" title="QQ帐号"></a>
                        </li>
                        <li class="bd-acc-tsina">
                            <a class="phoenix-btn-item" href="#" title="新浪微博"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="w-footer-mini" alog-alias="bainuo-order-footermini" alog-group="bainuo-order-footermini">
    <div class="wrap">
        <div class="links">
            <a href="//www.nuomi.com/about" class="link">关于百度糯米</a><span>|</span>
            <a href="//www.nuomi.com/help" class="link">常见问题</a><span>|</span>
            <a href="javascript:;" class="link" id="j-tttel">违规投诉</a><span>|</span>
            <a href="//www.nuomi.com/help/api" class="link">开放平台</a><span>|</span>
            <a href="//www.nuomi.com/about/eula" class="link">用户协议</a><span>|</span>
            客服电话：<span class="tel">400-9216-666</span>（每天9:00 - 22:00）
        </div>
        <div class="site-info">
            <span class="copyright">©</span>2015&nbsp;nuomi.com&nbsp;<a href="http://www.miitbeian.gov.cn" class="link"
                                                                        target="_blank">京ICP证030173号</a>
            &nbsp;京公网安备11010802014106号
        </div>
    </div>
</div>
</body>
</html>