<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="https://seasonal-1300148510.cos.ap-shanghai.myqcloud.com/img/index/icon.ico"/>
    <title>果酷❤详情页</title>
    <style>

    </style>

    <!--    清除样式CSS-->
    <link rel='stylesheet' href='../../css/style.css' type='text/css'/>
    <!--    外部模板样式-->
    <link rel='stylesheet' href='../../css/global.css' type='text/css'/>
    <link rel="stylesheet" href="../css/main.css" type="text/css"/>
    <link rel="stylesheet" href="../css/detailGoods.css">

</head>
<body>


<div class="wrap">
    <div class="header">
        <div class="login_bar">
            <ul>

            </ul>
        </div>
        <hr>
        <div class="header_main">
            <form action="" class="parent">
                <input type="text" class="search" placeholder="搜索" style="width: 322px;">
                <input type="button" name="" id="" class="search_button">
            </form>
            <div class="hd">
                <a class="hd_m" href="../../user/view/userinfo.html">
                    <span id="hd_ms_i"></span>
                    <span id="hd_ms_txt" class="hd_ms_a">我的果酷</span>
                </a>
                <a class="hd_m" href="../../cart/view/myCarts.html">
                    <span id="hd_mc_i"></span>
                    <span id="hd_mc_txt" class="hd_ms_a">我的购物车</span>
                </a>
            </div>
            <a href="../../index.html"><img alt="" src="https://seasonal-1300148510.cos.ap-shanghai.myqcloud.com/img/index/s_03.png" id="logo"></a>
            <div class="header_nav">
                <ul>
                    <li><a href="../../index.html" name="首 页">HOME</a></li>
                    <li><a href="../../activity/view/seckill.html" name="闪购促销">SALES</a>
                    </li>
                    <li><a href="../../index.html" name="最新活动">ACTIVITY</a>
                    </li>
                    <li><a href="../../index.html" name="申请试吃">TASTE</a>
                    </li>
                </ul>
            </div>
        </div>
        <hr id="header_hr">

    </div>
    <div class="main">
        <!--        次级导航同上注意-->
        <div class="main_nav">
            <ul>
                <li id="main_nav_goods_nav" style="width: 200px;height: 40px;margin-left: 15%;"><a href="#">全部商品分类 ❤</a>
                </li>
                <li class="main_nav_li"><a href="../../index.html">首页</a></li>
                <li class="main_nav_li" style="width: 200px;"><a href="../../activity/view/seckill.html">闪购促销</a>
                </li>
                <li class="main_nav_li" style="width: 130px;"><a href="../../index.html">最新活动</a>
                </li>
                <li class="main_nav_li" style="width: 150px;"><a href="../../index.html">申请试吃</a>
                </li>
            </ul>
        </div>
        <div id="main_sub_nav" style="display: none">
            <ul class="cat">
                <li>
                    <span class="ct_in" style="background-position: 0 0;"></span>
                    <span class="ct_tit"><a class="ct_a" href="getGoodsList.html?classifyId=1">专利分格</a></span>
                    <span class="ct_yb">></span>
                    <div class="ct_dv">
                        <div style="margin-left:450px; height: 385px; width: 149px;padding-top: 15px; border: 0; display: none;">
                            <div class="ct_dv_tits"><a href="getGoodsList.html?classifyId=2">超级果盒</a>
                            </div>
                            <div class="ct_dv_tits"><a href="getGoodsList.html?classifyId=3">三分果盒</a>
                            </div>
                            <div class="ct_dv_tits"><a href="getGoodsList.html?classifyId=5">二分果盒</a>
                            </div>
                            <div class="ct_dv_tits"><a href="getGoodsList.html?classifyId=6">迷你果盒</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <span class="ct_in" style="background-position: 0 -29px;"></span>
                    <span class="ct_tit"><a class="ct_a">彩虹果杯</a></span>
                    <span class="ct_yb">></span>
                    <div class="ct_dv">
                        <div style="margin-left:450px;height: 385px; width: 149px; padding-top: 15px; border: 0; display: none;">
                            <div class="ct_dv_tits"><a href="getGoodsList.html?classifyId=7">大型果杯</a>
                            </div>
                            <div class="ct_dv_tits"><a href="getGoodsList.html?classifyId=8">中型果杯</a>
                            </div>
                            <div class="ct_dv_tits"><a href="getGoodsList.html?classifyId=9">标准果杯</a>
                            </div>
                            <div class="ct_dv_tits"><a href="getGoodsList.html?classifyId=10">迷你果杯</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <span class="ct_in" style="background-position: 0 -58px;"></span>
                    <span class="ct_tit"><a class="ct_a">进口水果</a></span>
                    <span class="ct_yb">></span>
                    <div class="ct_dv">
                        <div style="margin-left:450px;height: 385px; width: 149px; padding-top: 15px; border: 0; display: none;">
                            <div class="ct_dv_tits"><a target="_blank"
                                                       href="">袋装果切</a></div>
                            <div class="ct_dv_tits"><a href="getGoodsList.html?classifyId=13">水果甜品</a>
                            </div>
                            <div class="ct_dv_tits"><a href="getGoodsList.html?classifyId=14">酷卡</a>
                            </div>
                            <div class="ct_dv_tits"><a href="getGoodsList.html?classifyId=15">方砖果杯</a>
                            </div>
                            <div class="ct_dv_tits"><a href="getGoodsList.html?classifyId=16">钻石果杯</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <span class="ct_in" style="background-position: 0 -87px;"></span>
                    <span class="ct_tit"><a class="ct_a">国产水果</a></span>
                    <span class="ct_yb">></span>
                    <div class="ct_dv">
                        <div style="margin-left:450px;height: 385px; width: 149px; padding-top: 15px; border: 0; display: none;">
                            <div class="ct_dv_tits"><a target="_blank"
                                                       href="getGoodsList.html?classifyId=2">方盒果切</a></div>
                            <div class="ct_dv_tits"><a target="_blank"
                                                       href="getGoodsList.html?classifyId=2">酸奶果杯</a></div>
                            <div class="ct_dv_tits"><a target="_blank"
                                                       href="getGoodsList.html?classifyId=2">沙拉果杯</a></div>
                            <div class="ct_dv_tits"><a href="getGoodsList.html?classifyId=2">就是芒果</a>
                            </div>
                            <div class="ct_dv_tits"><a href="getGoodsList.html?classifyId=2">能量果花</a>
                            </div>
                            <div class="ct_dv_tits"><a href="getGoodsList.html?classifyId=2">炫彩果盘</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <span class="ct_in" style="background-position: 0 -116px;"></span>
                    <span class="ct_tit"><a class="ct_a">特别定制</a></span>
                    <span class="ct_yb">></span>
                    <div class="ct_dv">
                        <div style="margin-left:450px;height: 385px; width: 149px; padding-top: 15px; border: 0; display: none;">
                            <div class="ct_dv_tits"><a target="_blank"
                                                       href="getGoodsList.html?classifyId=2">团购商品</a></div>
                            <div class="ct_dv_tits"><a target="_blank"
                                                       href="getGoodsList.html?classifyId=2">水果礼盒</a></div>
                            <div class="ct_dv_tits"><a href="getGoodsList.html?classifyId=2">圣诞节</a>
                            </div>
                            <div class="ct_dv_tits"><a href="getGoodsList.html?classifyId=2">中秋节</a>
                            </div>
                            <div class="ct_dv_tits"><a href="getGoodsList.html?classifyId=2">万圣节</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <span class="ct_in" style="background-position: 0 -145px;"></span>
                    <span class="ct_tit"><a class="ct_a">创意果切</a></span>
                    <span class="ct_yb">></span>
                    <div class="ct_dv">
                        <div style="margin-left:450px;height: 385px; width: 149px; padding-top: 15px; border: 0; display: none;">
                            <div class="ct_dv_tits"><a href="getGoodsList.html?classifyId=2">热带水果</a>
                            </div>
                            <div class="ct_dv_tits"><a href="getGoodsList.html?classifyId=2">冷冻榴莲</a>
                            </div>
                            <div class="ct_dv_tits"><a href="getGoodsList.html?classifyId=2">车厘子</a>
                            </div>
                            <div class="ct_dv_tits"><a href="getGoodsList.html?classifyId=2">奇异果</a>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>

        </div>
        <br>
        <div style="margin-left: 200px">
            <!--内容处-->
            <div class="goods_detail_max">
                <div class="page_url">
                    <a class="hover_a" href="../../index.html">首页</a>>
                    <a class="hover_a" id="generalities_name" href=""></a>>
                    <a class="hover_a" id="classify_name" href=""></a>
                </div>
            </div>
            <div class="goods_detail">
                <div class="goods_big_image">
                    <img id='bigimg'
                         src="" alt="">
                    <div class="goods_small_image_scoll">
                        <a class="goods_small_image_scoll_left"><</a>
                        <a class="goods_small_image_scoll_right">> </a>
                        <div class="goods_small_image_scoll_itme">
                            <div class="goods_small_image_scoll_rongqi">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="goods_describe">
                    <div class="goods_describe_name">
                        <span id="good_name"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                        <span id="seckill_font" style="color:red;"></span>
                    </div>
                    <ul class="goods_describe_price">
                        <li>商品价格：
                            <span id="goods_describe_pc"></span>
                            <span id="ckill_good_price_t" style="text-decoration: line-through;font-size: 10px;color: #bebebf;"></span>
                        </li>
                    </ul>

                    <div>
                        <p class="goods_product_p">选择品类：</p>
                        <ul class="goods_compose_fruit">
                            <li><a>福建红心柚+海南西州蜜+海南黑美人西瓜+四川红提+河北水果黄瓜</a></li>
                        </ul>
                    </div>
                    <ul class="goods_describe_ds">

                    </ul>
                    <ul class="goods_control_ul">
                        <li class="goods_num"><label for="good_count">数量</label></li>
                        <li class="goods_control_ul_li1">
                            <a class="delete_goods">-</a>
                            <input class="goods_control_ul_li1_input" id="good_count" type="text" name="num"
                                   disabled="disabled" value="1">
                            <a class="add_goods">+</a>
                        </li>
                    </ul>
                    <ul class="goods_describe_option">
                        <li><a>立刻购买</a></li>
                        <li>
                            <a>
                                <i></i>
                                <span>加入购物车</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="goods_advertisement">
                <div class="goods_signal">
                    <div style="border-bottom: solid 2px #ddd" >
                    <div class="goods_signal_title  " >商品推荐</div>
                    <div class="goods_signal_title "  >商品评论</div>
                    <div class="goods_signal_title " >商品介绍</div>
                    </div>
                    <div class="centerdiv">
                    <div class="goods_signal_paddingtop  ">

                        <a href="detailGoods.html?id=25" class="goods">
                            <img  alt="" src="https://seasonal-1300148510.cos.ap-shanghai.myqcloud.com/img/good/icon_logo/4_1.jpg"/>
                            <span class="goods_info">中型果杯：应季流行</span>
                            <span class="goods_price">￥17.00</span>
                        </a>
                        <a href="detailGoods.html?id=18" class="goods">
                            <img  alt="" src="https://seasonal-1300148510.cos.ap-shanghai.myqcloud.com/img/good/icon_logo/3_6.jpg"/>
                            <span class="goods_info">三分果盒：季节限定</span>
                            <span class="goods_price">￥21.00</span>
                        </a>
                        <a href="detailGoods.html?id=34" class="goods">
                            <img  alt="" src="https://seasonal-1300148510.cos.ap-shanghai.myqcloud.com/img/good/icon_logo/4_2.jpg"/>
                            <span class="goods_info">中型果杯：特别推荐</span>
                            <span class="goods_price">￥19.00</span>
                        </a>
                        <a href="detailGoods.html?id=6" class="goods">
                            <img  alt="" src="https://seasonal-1300148510.cos.ap-shanghai.myqcloud.com/img/good/icon_logo/1_6.jpg"/>
                            <span class="goods_info">超级果盒：明星主打</span>
                            <span class="goods_price">￥29.00</span>
                        </a>
                        <a href="detailGoods.html?id=16" class="goods">
                            <img  alt="" src="https://seasonal-1300148510.cos.ap-shanghai.myqcloud.com/img/good/icon_logo/3_4.jpg"/>
                            <span class="goods_info">三分果盒：高级赏味</span>
                            <span class="goods_price">￥22.00</span>
                        </a>
                    </div>

                    <div class="commenthtml commontdiv " hidden style="text-align: left;"></div>

                    <div class="goods_signal_describe goods_signal " hidden></div>
                    </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer">
        <img alt="" src="https://seasonal-1300148510.cos.ap-shanghai.myqcloud.com/img/index/foot_logo.jpg" style="width: 100%;margin-top: 150px"/>
    </div>
</div>

</body>
<script src="../../jquery/jquery-3.4.1.js"></script>
<script src="../../js/ajaxSetup.js"></script>
<script type="text/javascript" src="../../js/login.js"></script>
<script src="../../js/global.js"></script>
<script src="../js/detailGoods.js"></script>
<script src="../js/main.js"></script>
<script>
/*    $('.goods_signal_title').click(function () {
        $('.goods_signal_describe').hide();
        }
    )*/

    $(".goods_signal_title").click(function () {
        $(".goods_signal_title").css("border-bottom","#ddd")
        $(this).css("border-bottom","#ddd solid 3px");
        let num = $(this).index();
        $(this).parent().parent().children(".centerdiv").children("div").hide();
        $(this).parent().parent().children(".centerdiv").children("div").eq(num).show();

    })
$('.commenthtml').load('../../comment/view/demo-show.html');


</script>

</html>