<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="https://seasonal-1300148510.cos.ap-shanghai.myqcloud.com/img/index/icon.ico"/>
    <title>炫果❤展示頁</title>
    <!--    清除样式CSS-->
    <link rel='stylesheet' href='../../css/style.css' type='text/css'/>
    <!--    外部模板样式-->
    <link rel='stylesheet' href='../../css/global.css' type='text/css'/>
    <link rel="stylesheet" href="../css/main.css" type="text/css"/>
    <link rel="stylesheet" href="../css/subtle-slideshow.css">
</head>
<body>
<div class="wrap">
    <!--    顶部所有信息，注意所有class别与顶部信息重叠-->
    <div class="header">
        <div class="login_bar">
            <ul>
                <li>
                    <img alt="" src="https://seasonal-1300148510.cos.ap-shanghai.myqcloud.com/img/index/login_icon.jpg"><a
                        href="#">请登录</a>
                </li>
                <li>
                    <img alt=""
                         src="https://seasonal-1300148510.cos.ap-shanghai.myqcloud.com/img/index/register_icon.jpg"><a
                        href="#">免费注册</a>
                </li>
                <li>
                    <img alt="" src="https://seasonal-1300148510.cos.ap-shanghai.myqcloud.com/img/index/order_icon.jpg"><a
                        href="#">我的订单</a>
                </li>
            </ul>
        </div>
        <hr>
        <div class="header_main">
            <form class="parent">
                <input type="text" class="search" placeholder="搜索">
                <input type="button" class="search_button">
            </form>
            <a href="../../index.html"><img alt=""
                                            src="https://seasonal-1300148510.cos.ap-shanghai.myqcloud.com/img/index/s_03.png"
                                            id="logo"></a>
            <div class="header_nav">
                <ul>
                    <li><a href="../../index.html" name="首 页">HOME</a></li>
                    <li><a href="../../activity/view/seckill.html" name="闪购促销">SALES</a>
                    </li>
                    <li><a href="../../index.html" name="最新活动">ACTIVITY</a>
                    </li>
                    <li><a href="../../index.html" name="申请试吃">TASTE</a>
                    </li>
                </ul>
            </div>
        </div>
        <hr id="header_hr">
    </div>
    <div class="main">
        <!--        次级导航同上注意-->
        <div class="main_nav">
            <ul>
                <li id="main_nav_goods_nav" style="width: 200px;height: 40px;margin-left: 15%;"><a href="#">全部商品分类 ❤</a>
                </li>
                <li class="main_nav_li"><a href="../../index.html">首页</a></li>
                <li class="main_nav_li" style="width: 200px;"><a href="../../activity/view/seckill.html">闪购促销</a>
                </li>
                <li class="main_nav_li" style="width: 130px;"><a href="../../index.html">最新活动</a>
                </li>
                <li class="main_nav_li" style="width: 150px;"><a href="../../index.html">申请试吃</a>
                </li>
            </ul>
        </div>
        <div id="main_sub_nav" style="display: none;z-index: 9999">
            <ul class="cat">
                <li>
                    <span class="ct_in" style="background-position: 0 0;"></span>
                    <span class="ct_tit"><a class="ct_a" href="getGoodsList.html?classifyId=1">专利分格</a></span>
                    <span class="ct_yb">></span>
                    <div class="ct_dv">
                        <div style="margin-left:450px; height: 385px; width: 149px;padding-top: 15px; border: 0; display: none;">
                            <div class="ct_dv_tits"><a target="_blank" href="getGoodsList.html?classifyId=2">超级果盒</a>
                            </div>
                            <div class="ct_dv_tits"><a target="_blank" href="getGoodsList.html?classifyId=3">三分果盒</a>
                            </div>
                            <div class="ct_dv_tits"><a target="_blank" href="getGoodsList.html?classifyId=5">二分果盒</a>
                            </div>
                            <div class="ct_dv_tits"><a target="_blank" href="getGoodsList.html?classifyId=6">迷你果盒</a>
                            </div>
                        </div>
                    </div>

                </li>
                <li>
                    <span class="ct_in" style="background-position: 0 -29px;"></span>
                    <span class="ct_tit"><a class="ct_a">彩虹果杯</a></span>
                    <span class="ct_yb">></span>
                    <div class="ct_dv">
                        <div style="margin-left:450px;height: 385px; width: 149px; padding-top: 15px; border: 0; display: none;">
                            <div class="ct_dv_tits"><a target="_blank" href="getGoodsList.html?classifyId=7">大型果杯</a>
                            </div>
                            <div class="ct_dv_tits"><a target="_blank" href="getGoodsList.html?classifyId=8">中型果杯</a>
                            </div>
                            <div class="ct_dv_tits"><a target="_blank" href="getGoodsList.html?classifyId=9">标准果杯</a>
                            </div>
                            <div class="ct_dv_tits"><a target="_blank" href="getGoodsList.html?classifyId=10">迷你果杯</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <span class="ct_in" style="background-position: 0 -58px;"></span>
                    <span class="ct_tit"><a class="ct_a">进口水果</a></span>
                    <span class="ct_yb">></span>
                    <div class="ct_dv">
                        <div style="margin-left:450px;height: 385px; width: 149px; padding-top: 15px; border: 0; display: none;">
                            <div class="ct_dv_tits"><a target="_blank"
                                                       href="">袋装果切</a></div>
                            <div class="ct_dv_tits"><a target="_blank" href="getGoodsList.html?classifyId=13">水果甜品</a>
                            </div>
                            <div class="ct_dv_tits"><a target="_blank" href="getGoodsList.html?classifyId=14">酷卡</a>
                            </div>
                            <div class="ct_dv_tits"><a target="_blank" href="getGoodsList.html?classifyId=15">方砖果杯</a>
                            </div>
                            <div class="ct_dv_tits"><a target="_blank" href="getGoodsList.html?classifyId=16">钻石果杯</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <span class="ct_in" style="background-position: 0 -87px;"></span>
                    <span class="ct_tit"><a class="ct_a">国产水果</a></span>
                    <span class="ct_yb">></span>
                    <div class="ct_dv">
                        <div style="margin-left:450px;height: 385px; width: 149px; padding-top: 15px; border: 0; display: none;">
                            <div class="ct_dv_tits"><a target="_blank"
                                                       href="getGoodsList.html?classifyId=2">方盒果切</a></div>
                            <div class="ct_dv_tits"><a target="_blank"
                                                       href="getGoodsList.html?classifyId=2">酸奶果杯</a></div>
                            <div class="ct_dv_tits"><a target="_blank"
                                                       href="getGoodsList.html?classifyId=2">沙拉果杯</a></div>
                            <div class="ct_dv_tits"><a target="_blank" href="getGoodsList.html?classifyId=2">就是芒果</a>
                            </div>
                            <div class="ct_dv_tits"><a target="_blank" href="getGoodsList.html?classifyId=2">能量果花</a>
                            </div>
                            <div class="ct_dv_tits"><a target="_blank" href="getGoodsList.html?classifyId=2">炫彩果盘</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <span class="ct_in" style="background-position: 0 -116px;"></span>
                    <span class="ct_tit"><a class="ct_a">特别定制</a></span>
                    <span class="ct_yb">></span>
                    <div class="ct_dv">
                        <div style="margin-left:450px;height: 385px; width: 149px; padding-top: 15px; border: 0; display: none;">
                            <div class="ct_dv_tits"><a target="_blank"
                                                       href="getGoodsList.html?classifyId=2">团购商品</a></div>
                            <div class="ct_dv_tits"><a target="_blank"
                                                       href="getGoodsList.html?classifyId=2">水果礼盒</a></div>
                            <div class="ct_dv_tits"><a target="_blank" href="getGoodsList.html?classifyId=2">圣诞节</a>
                            </div>
                            <div class="ct_dv_tits"><a target="_blank" href="getGoodsList.html?classifyId=2">中秋节</a>
                            </div>
                            <div class="ct_dv_tits"><a target="_blank" href="getGoodsList.html?classifyId=2">万圣节</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <span class="ct_in" style="background-position: 0 -145px;"></span>
                    <span class="ct_tit"><a class="ct_a">创意果切</a></span>
                    <span class="ct_yb">></span>
                    <div class="ct_dv">
                        <div style="margin-left:450px;height: 385px; width: 149px; padding-top: 15px; border: 0; display: none;">
                            <div class="ct_dv_tits"><a target="_blank" href="getGoodsList.html?classifyId=2">热带水果</a>
                            </div>
                            <div class="ct_dv_tits"><a target="_blank" href="getGoodsList.html?classifyId=2">冷冻榴莲</a>
                            </div>
                            <div class="ct_dv_tits"><a target="_blank" href="getGoodsList.html?classifyId=2">车厘子</a>
                            </div>
                            <div class="ct_dv_tits"><a target="_blank" href="getGoodsList.html?classifyId=2">奇异果</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
        <div id="slides">
            <a class="slide" href="#">
                <span class="animate out"
                      style="background-image: url(https://seasonal-1300148510.cos.ap-shanghai.myqcloud.com/img/main/lunbo/img1.jpg)"></span>
                <div class="static-content"></div>
            </a>
            <a class="slide" href="#">
                <span class="animate out"
                      style="background-image: url(https://seasonal-1300148510.cos.ap-shanghai.myqcloud.com/img/main/lunbo/img2.jpg)"></span>
                <div class="static-content"></div>
            </a>
            <a class="slide" href="#">
                <span class="animate out"
                      style="background-image: url(https://seasonal-1300148510.cos.ap-shanghai.myqcloud.com/img/main/lunbo/img3.jpg)"></span>
                <div class="static-content"></div>
            </a>
        </div>
        <div class="img_show">
            <img alt="" src="https://seasonal-1300148510.cos.ap-shanghai.myqcloud.com/img/main/show/index_ad.jpg"/>
            <div>
                <img alt="" style="width:25%;;"
                     src="https://seasonal-1300148510.cos.ap-shanghai.myqcloud.com/img/main/show/index_ad1.jpg"/>
                <img alt="" style="width:25%;margin-left: 10px;"
                     src="https://seasonal-1300148510.cos.ap-shanghai.myqcloud.com/img/main/show/index_ad2.jpg"/>
                <img alt="" style="width:25%;margin-left: 10px;"
                     src="https://seasonal-1300148510.cos.ap-shanghai.myqcloud.com/img/main/show/index_ad3.jpg"/>
            </div>
        </div>
        <div class="goods_all_show">

        </div>
    </div>
    <div class="footer">
        <img alt="" src="https://seasonal-1300148510.cos.ap-shanghai.myqcloud.com/img/main/foot_logo.jpg"/>
    </div>
</div>

</body>

<script src="../../jquery/jquery-3.4.1.js"></script>
<script src="../../js/global.js"></script>
<script src="../js/goods.js"></script>
<script src="../js/main.js"></script>
<script src="../js/jquery.subtle-slideshow.js"></script>
<script>
    // These are te default settings.
    $('#slides').slideshow({
        randomize: true,      // Randomize the play order of the slides.
        slideDuration: 5000,  // Duration of each induvidual slide.
        fadeDuration: 0,    // Duration of the fading transition. Should be shorter than slideDuration.
        animate: true,        // Turn css animations on or off.
        pauseOnTabBlur: true, // Pause the slideshow when the tab is out of focus. This prevents glitches with setTimeout().
        enableLog: false      // Enable log messages to the console. Useful for debugging.
    });
    $(".search_button").click(function () {
        $(location).attr('href', "http://localhost:8080/main/view/getGoodsList.html?likeName=" + $(".search").val());
    });
</script>
</html>