<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seasonal.mapper.CartFormMapper">
    <resultMap id="cart" type="com.seasonal.pojo.CartForm">

    </resultMap>
    <select id="findGoodById" resultMap="cart">
        select * from cart_form where user_id=#{userId}
    </select>
</mapper>