<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seasonal.mapper.CartFormMapper">
    <resultMap id="cart" type="com.seasonal.pojo.CartForm">

    </resultMap>
    <select id="findCartFormById" resultMap="cart">
        select compose_good_icon,compose_good_name,compose_good_price,good_count
        from cart_form,compose_good
        where user_id=#{userId}
        and good_id=compose_good.id
    </select>
</mapper>