<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seasonal.mapper.ClassifyMapper">
    <resultMap id="pc" type="com.seasonal.pojo.Classify">
        <id column="id" property="id"/>
        <collection property="composeGood" column="id"
                    select="com.seasonal.mapper.ComposeGoodMapper.findMainComposeGoodByClassifyId"/>
    </resultMap>
    <resultMap id="pc1" type="com.seasonal.pojo.Classify">
        <id column="id" property="id"/>
        <association property="generalities" column="generalities_id"
                     select="com.seasonal.mapper.GeneralitiesMapper.findGeneralitiesByClassifyId"/>
    </resultMap>

    <select id="findAllByGeneralitiesId" resultMap="pc">
        select * from classify where generalities_id = #{generalitiesId}
    </select>

    <select id="findComposeGoodById" resultMap="pc">
        select * from classify where id=#{id}
    </select>

    <select id="findClassifyByComposeGoodById" resultMap="pc1">
        select * from classify where id = #{id}
    </select>

</mapper>