<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seasonal.mapper.OrderFormMapper">
    <resultMap id="cspo" type="com.seasonal.pojo.OrderForm">
        <id column="id" property="id"/>
        <collection property="detailedCommodityForms" column="order_id"
                    select="com.seasonal.mapper.DetailedCommodityFormMapper.findDetailFormBy"/>
    </resultMap>

    <!--将订单的支付状态修改为已支付-->
    <update id="updateOrderState" parameterType="String">
        update order_form set order_status=1 where id=#{orderId}
    </update>

    <!--插入订单信息，订单状态默认为0未支付状态-->
    <insert id="insertOrderForm" parameterType="orderForm">
        insert into
        order_form(
        <trim suffixOverrides=",">
            <if test="orderId!=null and orderId!=''">
                order_id,
            </if>
            <if test="orderMoney!=null and orderMoney!=''">
                order_money,
            </if>
            <if test="orderUserId!=null and orderUserId!=''">
                order_user_id,
            </if>
            <if test="1!=0">
                order_status,
            </if>
            <if test="payPlatform!=null and payPlatform!=''">
                pay_platform,
            </if>
            <if test="deliveryWay!=null and deliveryWay!=''">
                delivery_way,
            </if>
            <if test="deliveryTime!=null and deliveryTime!=''">
                delivery_time,
            </if>
            <if test="1!=0">
                delivery_money,
            </if>
            <if test="getPassword!=null and getPassword!=''">
                get_password,
            </if>
            <if test="getAccount!=null and getAccount!=''">
                get_account,
            </if>
            <if test="createTime!=null">
                create_time,
            </if>
            <if test="updateTime!=null">
                update_time,
            </if>
            <if test="deliveryAddress!=null and deliveryAddress!=''">
                delivery_address,
            </if>
        </trim>

        ) values(
        <trim suffixOverrides=",">
            <if test="orderId!=null and orderId!=''">
                #{orderId},
            </if>
            <if test="orderMoney!=null and orderMoney!=''">
                #{orderMoney},
            </if>
            <if test="orderUserId!=null and orderUserId!=''">
                #{orderUserId},
            </if>
            <if test="1!=0">
                #{orderStatus},
            </if>
            <if test="payPlatform!=null and payPlatform!=''">
                #{payPlatform},
            </if>
            <if test="deliveryWay!=null and deliveryWay!=''">
                #{deliveryWay},
            </if>
            <if test="deliveryTime!=null and deliveryTime!=''">
                #{deliveryTime},
            </if>
            <if test="1!=0">
                #{deliveryMoney},
            </if>
            <if test="getPassword!=null and getPassword!=''">
                #{getPassword},
            </if>
            <if test="getAccount!=null and getAccount!=''">
                #{getAccount},
            </if>
            <if test="createTime!=null">
                #{createTime},
            </if>
            <if test="updateTime!=null">
                #{updateTime},
            </if>
            <if test="deliveryAddress!=null and deliveryAddress!=''">
                #{deliveryAddress},
            </if>
        </trim>
        )
    </insert>

    <!--查找所有的订单根据用户-->
    <select id="findOrderFormByUserId" resultType="orderForm" parameterType="String">
          select * from order_form where order_user_id =#{userId}
    </select>

    <select id="findOrderFormByOrderId" resultMap="cspo" parameterType="String">
        select order_status,order_money,order_id,good_type from order_form where order_id = #{orderId}
    </select>
    <select id="findOrderPassword" resultType="orderForm">
        select * from order_form where order_id=#{orderId} and order_user_id=#{userId}
    </select>
</mapper>